* {
  box-sizing: border-box;
}

/* Style the header */
.header {
  display         : block;
  background-color: #f1f1f1;
  padding         : 20px;
  text-align      : center;
  font-size       : xx-large;
}

/* Style the top navigation bar */
.topnav {
  display         : block;
  overflow        : hidden;
  background-color: #333;
}

/* Style the topnav links */
.topnav a {
  float          : left;
  display        : block;
  color          : #f2f2f2;
  text-align     : center;
  padding        : 14px 16px;
  text-decoration: none;
}

/* Change color on hover */
.topnav a:hover {
  background-color: #ddd;
  color           : black;
}

.footer {
  background-color: #333;
  padding         : 10px;
  text-align      : center;
  position        : relative;
  bottom          : 0%;
  text-align      : center;
  width           : 100%;
  color           : white;
  font-weight     : bold;
  font-size       : large;
}

.footer a {
  color          : white;
  text-decoration: none;
  font-weight    : bold;
  font-size      : large;
}

.admin .adminLinks {
  display         : block;
  color           : #ddd;
  background-color: #333;
  text-decoration : none;
  padding         : 1%;
}

.voter .voterLinks {
  display         : block;
  color           : #ddd;
  background-color: #333;
  text-decoration : none;
  padding         : 1%;
}

.candidate .candidateLinks {
  display         : block;
  color           : #ddd;
  background-color: #333;
  text-decoration : none;
  padding         : 1%;
}

.voterLoginDiv {
  display         : block;
  color           : #ddd;
  background-color: #333;
  text-decoration : none;
  padding         : 1%;
}

caption {
  font-size  : xx-large;
  font-family: monospace;
}

label {
  font-size: large;
}

.adminLoginDiv {
  display         : block;
  color           : #ddd;
  background-color: #333;
  text-decoration : none;
  padding         : 1%;
}

input[type="text"] {
  display  : block;
  width    : 100%;
  padding  : 1%;
  border   : none;
  font-size: x-large;
}

input[type="email"] {
  display   : block;
  width     : 100%;
  box-sizing: border-box;
  padding   : 2%;
  border    : none;
  font-size : x-large;
}

input[type="password"] {
  display   : block;
  width     : 100%;
  box-sizing: border-box;
  padding   : 2%;
  border    : none;
  font-size : x-large;
}

button {
  box-sizing      : border-box;
  background-color: #ddd;
  border          : #ddd;
  padding-top     : 2%;
  padding-bottom  : 2%;
  padding-right   : 10%;
  padding-left    : 10%;
  font-size       : large;
}

.candidatelogindiv {
  display         : block;
  color           : #ddd;
  background-color: #333;
  text-decoration : none;
  padding         : 1%;
}

.candidateregisterDiv {
  display         : block;
  color           : #ddd;
  background-color: #333;
  text-decoration : none;
  padding         : 1%;
}

.nominateDiv {
  display         : block;
  color           : #ddd;
  background-color: #333;
  text-decoration : none;
  padding         : 1%;
}

.loadResultsBtn {
  display         : block;
  box-sizing      : border-box;
  background-color: navy;
  border          : #ddd;
  color           : white;
  font-weight     : bold;
  padding-top     : 1%;
  padding-bottom  : 1%;
  font-size       : large;
}

.logo {
  width: 100%;
}

.whatsapplogo {
  height: 14px;
  width : 14px;
}

.logoslinks {
  float       : right;
  margin-right: 10%;
}